<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form action="fill2" method="post">
    <div>
        <input type="hidden" name="pid" value="${pid!}"/>
    </div>
     <div>
         <input type="date" name="start" placeholder="开始时间" value="${start!}"/>
     </div>
     <div>
         <input type="date" name="end" placeholder="结束时间" value="${end!}"/>
     </div>
     <div>
         <input type="text" name="reason" placeholder="请假原因" value="${reason!}"/>
     </div>
     <div>
         <input  type="submit" value="提交"/>
     </div>
 </form>
</body>
</html>





































